<div class="container marketing" style="padding-top: 50px;padding-bottom: 50px;">
    <div class="row" >
        <div class="col-lg-4">
            <img class="rounded-circle" src="/images/music.jpg" alt="Generic placeholder image" width="170" height="170"
                style="margin-left: 85px; padding-top: 10px;">

            <h2 style="text-align: center;">Louvores</h2>
            <p style="text-align: center;">Gostaria de escutar um louvor ?</p>
            <p style="text-align: center;"><a class="btn btn-primary" href="/louvores" role="button">Escutar &raquo;</a>
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>