<h1 style="text-align: center;">Venha fazer uma visita</h1>
<form style="padding-top: 35px; padding-left: 50px; t">
    <div class="card mb-3" style="max-width: 850px; height: 350px;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/images/igreja.jpg" alt="" style="height: 350px;">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Assembleia de Deus Fraron</h5>
                    <p class="card-text">Rua: Primo Lavezzo, 288</p>
                    <p class="card-text">Bairro: Fraron</p>
                    <p class="card-text">Cidade: Pato Branco-PR</p>
                    <a class="btn btn-primary"
                        href="https://www.google.com/maps/place/Assembleia+de+Deus+-+Fraron/@-26.2089544,-52.6874374,21z/data=!4m8!1m2!2m1!1sgoogle!3m4!1s0x94e553ee33d06a2d:0x3f18d1e5704f8141!8m2!3d-26.2088452!4d-52.6873928"
                        role="button" target="_blank">Rota</a>
                </div>
            </div>
        </div>
</form>